body { text-align: center; font-family: Arial; font-size: 1.65em; background-size: cover; background-repeat: no-repeat;
	background: url("https://i.pinimg.com/originals/97/57/93/975793fff4eb682dcc396c2885a13f2f.jpg") fixed;}
h1 { color: #db7e14 ; font-weight: bold; padding: .25em; display: inline-block; background: #bd2239; border-radius: 1em;  top:0.25em; }
h2 {color: #db7e14 ; font-weight: bold; padding: .25em; display: inline-block; background: #bd2239; border-radius: 1em;  top:0.25em;}
h3 {margin: 0}
a {color: #fff; text-decoration: none}
img {margin: 1.5em}
iframe {margin: 1.25em; display: block}
.xd {padding: 0.75em; color: #fff; background: #0c0; display: inline-block; margin: 0; border-radius: 10em}
.xd:hover {background:  #009000}